.ai-platform{
    font-size: 14px;
    font-family: tahoma,arial,Hiragino Sans GB,Microsoft YaHei,sans-serif;
    line-height: 1;
}
.ai-content{
    margin-top: 60px;
}
.nav_w{
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 1240px;
    z-index: 999;
    -webkit-font-smoothing: auto;
}
.nav_clearfix{
    width: 1200px;
    height: 60px;
    line-height: 56px;
    margin: 0 auto;
    position: relative;
}
.logo{
    width: 80px;
}
.ai_form a{
    cursor: pointer;
    text-decoration: none;
}
.logo img{
    display: block;
    width: 173px;
    height: 25px;
    padding: 17px 0;
}
.f_l{
    float: left;
}
.f_r{
    float: right;
}
.nav_list{
    margin-left: 200px;
}
.nav_sub_con_l{
    width: 132px;
    float: left;
    line-height: 26px;
}
.nav_sub_tittle{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}
.nav_sub_block:hover{
    background-color: #272727;
}
.nav_item{
    float: left;
    height: 60px;
    position: relative;
}
.nav_item:hover{
    background-color: #272727;
}
.nav-sub-list{
    background-color: #000;
    background-color: rgba(0,0,0,.9);
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
}
.nav-item-industry:hover .nav-sub-list{
    visibility: visible;
    opacity: 1;
}
.nav-item-industry{
    cursor: pointer;
}
.nav_suv_new{
    display: inline-block;
    border-right: 0;
}
.nav-sub-item a{
    text-align: center;
    color: #fff;
    display: block;
}
.nav-sub-item a:hover{
    background-color: #272727;
}
.nav_clearfix a:hover{
    color: #0073eb;
}
.nav_sub a:hover{
    color: #0073eb;
    cursor: pointer;
}
.o_h{
    overflow: hidden;
}
.nav_sub{
    background: rgba(0,0,0,.9);
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}
.nav-item-service:hover .nav_sub{
    visibility: visible;
    opacity: 1;
}
.nav_sub_col{
    float: left;
    width: 400px;
}
.nav_sub_block{
    box-sizing: border-box;
    padding: 23px 20px 22px 28px;
}
.nav_sub_block:first-child{
    padding-top: 26px;
}
.nav_sub_content{
    margin-top: 16px;
}
.nav_sub_row{
    line-height: 26px;
    margin-top: 10px;
}
.nav_sub_l2{
    color: #ccc;
    padding-right: 10px;
    border-right: 2px solid #a3a3a3;
    margin-right: 6px;
}
.nav_sub_l3{
    color: #999;
    display: inline-block;
    font-size: 13px;
    margin-right: 16px;
}
.nav_suv_new{
    display: inline-block;
    border-right: 0;
}
.nav_suv_new:after{
    content: "\65B0\54C1";
    display: inline-block;
    padding: 1px 2px;
    position: relative;
    left: 2px;
    font-size: 12px;
    line-height: 1;
    height: 14px;
    color: #fff;
    background-image: none;
    background-color: #ff640f;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    font-family: Hiragino Sans GB,Microsoft YaHei,serif;
}
.nav_sub_con{
    width: 220px;
    line-height: 26px;
}
.no_l3{
    display: inline-block;
    border-right: 0;  
}
.nav_sub_con_l{
    width: 132px;
    float: left;
    line-height: 26px;
}
.nav_sub_tittle{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}
.nav_sub_block:hover{
    background-color: #272727;
}
.nav_item{
    float: left;
    height: 60px;
    position: relative;
}
.nav_item:hover{
    background-color: #272727;
}
.nav_sub_lo{
    width: 880px;
    left: 160px;;
    background-color: rgba(0,0,0,.9);
    position: absolute;
    top: 60px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}
.nav-item-solution:hover .nav_sub_lo{
    visibility: visible;
    opacity: 1;
}
.nav_sub_lo .nav_sub_item{
    float: left;
    width: 220px;
    line-height: 60px;
    text-indent: 28px;
}
.nav_sub_lo .nav_sub_item a{
    color: #fff;
    display: block;
}
.nav_sub_lo .nav_sub_item a:hover{
    color: #0073eb;
    cursor: pointer;
    background-color: #272727;
}
.a_1{
    color: #fff;
    display: block;
    padding: 4px 20px 0;
    position: relative;
    z-index: 2;
    text-decoration: none;
}
.nav-item-service{
    position: static;
}
.nav-item-service a{
    cursor: default;
}
.nav-item-industry a{
    cursor: default;
}
.nav-item-solution{
    position: static;
}
.nav-item-solution a{
    cursor: default;
}
.nav-item-support a{
    cursor: default;
}

.tech-banner{
    box-sizing: border-box;
    position: relative;
    height: 450px;
    text-align: center;
    background: url(../images/video/banner.jpg) no-repeat 50%;
    background-size: cover;
}
.tech-banner-shape{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,.3);
}
.txt-container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.txt-container-title{
    width: 1180px;
    padding-bottom: 24px;
    font-size: 48px;
    letter-spacing: 5px;
    color: #fff;
}
.tech-catalog{
     background: #f4f5f7;
}
.ai-container{
  position: relative;
  box-sizing: border-box;
  text-align: center;  
}
.ai-platform, .ai-container{
    display: block;
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.tech-banner-info{
    width: 500px;
    margin: 0 auto;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 28px;
    color: #fff
}
.tech-banner-btn{
    border: 1px solid #fff;
    color: #fff;
    z-index: 1;
    transition: all .3s ease;
}
.media-new{
    margin: 0 auto;
    padding: 0 16px;
    height: 38px;
    width: 82px;
    font-size: 16px;
    line-height: 36px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}
.media-new:hover{
    color: #333;
    background: #fff;
}
.teach-catalog-title{
    font-size: 30px;
    text-align: center;
    padding: 80px 0 24px;
    color: #333;
    letter-spacing: 2px;
}
.teach-catalog-info{
    width: 620px;
    line-height: 26px;
    padding-bottom: 44px;
    margin: 0 auto;
    font-size: 14px;
    color: #999;
    text-align: center;
}
.tech-function{
    background: url(../images/video/title.png);
    background-size: contain;
    text-align: center;
    height: 450px;
    width: 1180px;
    margin: 0 auto;
}
.tech-function-datail{
    padding: 100px 0
}
.tech-demo{
    background: #f4f5f7;
}
.tech-demo-title{
    letter-spacing: 2px;
    color: #333;
    text-align: center;
    padding: 80px 0 50px;
    font-size: 30px;
}
.ai-video-demo{
    display: flex;
}
.ai-video-player{
    width: 590px;
    vertical-align: top;
    background: #f4f5f7;
}
.ai-video-name{
    opacity: .8;
    padding-left: 8px;
    height: 40px;
    line-height: 40px;
    background: #262626;
    color: #fff;
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    width: 580px;
    position: absolute;
    z-index: 5;
}
.tech-scence{
    padding-bottom: 80px;
    background-color: #f4f5f7;
}
.video-js{
    box-sizing: border-box;
    outline: none;
    background-color: #000;
    position: relative;
    padding: 0;
    font-size: 10px;
    line-height: 1;
    height:392px;
}
.vjs-poster{
    height:392px;
    width: 590px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -moz-background-size: contain;
    background-size: contain;
    background-color: #000000;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:1;
    background-image: url(../images/video/poster-1.png);
}

.vjs-tech{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.vjs-big-play-button{
    width: 116px;
    height: 45px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    background-color: rgba(43, 51, 63, 0.7);
    border-radius: 10px;
    transition: all .4s;
}
.vjs-big-play-button::before, .demo-card-dialog:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/video/video-arrow.png) no-repeat 5px 0;
    background-size: 50px 30px;
    transition: all .5s;
}
.demo-card-dialog:hover::after{
    background-position: -22px 0;
}
.vjs-big-play-button:hover{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.4);
    background:rgba(0,0,0,.4);
}
.demo-video-cover{
    box-sizing: border-box;
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
}
.img-cover{
    position: absolute;
    top: 50%;
    left:50%;
    max-width: 90%;
    max-height: 90%;
    transform: translate(-50%,-50%);
}
.video-gallery{
    width: 1180px;
    height: 154px;
    font-size: 0;
    background: #FFF;
    margin:auto;
    margin-top: 20px;
}
.video-cover-tit{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 30px;
    border: 1px solid #c6defa;
    background-color: #e1edfc;
    text-align: center;
    font-size: 12px;
    display: flex;
    align-items:  center;
    justify-content: center;
}
.tech-scence-header{
    padding: 80px 0 50px;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    color: #333;
}
.video-gallery-item{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 294px;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ededed;
    box-sizing: border-box;
}
.video-gallery-item>img{
    width: 100%;
    height: 100%;
}
.demo-card-dialog{
    position: absolute;
    left: 6px;
    top: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.5);
}
.scence{
    height: 219px;
    display: flex;
}
.tech-scence-wrapper{
    width: 50%;
    box-sizing: border-box;
    margin: 0 18px;
    padding-bottom: 25px;
    vertical-align: top;
    box-shadow: 1px 1px 1px #ccc;
}
.tech-scence-item{
    padding: 35px 30px 0;
    background-color: #fff;
}
.tech-scence-item>h4, .tech-scence-item>p{
    padding-bottom: 24px;
    font-size: 18px;
    color: #333;
    font-weight: normal;
    text-align: left;
}
.tech-scence-item>p{
    font-size: 14px;
    line-height: 26px;
    color: #999;
}
.line{
    height: 1px;
    border: 0;
    background-color: #eee;
}
.tech-scence-cooperation{
    padding: 25px 0;
    font-size: 0;
    color: #999;
    text-align: left;
}
.cooperation-title{
    vertical-align: middle;
    margin-right: 10px;
    font-size: 14px;
}
.cooperation-icon{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    font-size: 12px;
}
.spe, .her{
    background: url(../images/video/logo.png) no-repeat 50%;
    background-size: contain;
}
.her{
    background: url(../images/video/logo1.png) no-repeat 50%;
    background-size: contain;    
}
.tech-feature-header{
  font-size: 30px;
  letter-spacing: 2px;
  color: #333;
  padding: 80px 0 50px;
  text-align: center ;
  font-weight: normal; 
}
.feature-container{
    width: 1320px;
    margin:  0 -70px -60px;
     height: 294px;
     display: flex;
}
.feature-items{
    width: 250px;
    margin: 0 95px 54px;
    box-sizing: border-box;
    vertical-align: top;
}
.tech-feature-icon{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.tech-feature-icon-1{
    background: url(../images/terrorism/arrow.png) no-repeat;
    background-size: contain;
}
.tech-feature-icon-2{
    background: url(../images/video/bottom.png) no-repeat;
    background-size: contain;
}
.tech-feature-icon-3{
    background: url(../images/video/bottom2.png) no-repeat;
    background-size: contain;
}
.desc-title{
    padding: 40px 0 24px;
    font-size: 18px;
    color: #333;
    text-align: center;
    font-weight: normal
}
.desc-info{
    text-align: center;
    color: #999;
    font-size: 14px;
    line-height: 26px;
}
.tech-guide{
    padding: 94px 0 130px;
    font-size: 0;
    text-align: center;
}
.large{
    width: 212px;
    height: 60px;
    line-height: 60px;
    background-color: #0073eb;
    color: #fff;
    font-size: 18px;
    margin: 0 auto;
}
.tech-guide-links{
    margin-top: 30px;
    position: relative;
}
.tech-guide-links a{
    font-size: 14px;
    margin: 0 20px;
    color: #0073eb;
}
.tech-product{
    width: 830px;
    margin: auto;
}
.title-main{
    letter-spacing: 2px;
    color: #333;
    font-size:30px;
    padding: 95px 0 30px;
    text-align: center;
}
.title-minor{
    color: #999;
    padding-bottom: 50px;
    text-align: center;
}
.tech-product-content{
    margin: 0 auto;
    width: 694px;
    height: 206px;
    background: url(../images/video/product.png);
    background-size: 100% 100%;
}
.content-info{
    padding: 30px 0;
    font-size: 14px;
}
.title-spe{
    padding: 0px;
}
.footer{
    background-color: #1e1e1e;
    text-align: center;
    padding: 80px 0 100px;
    font-size: 14px;
}
.footer_c{
    width: 1200px;
    margin: 0 auto;
}
.contact .tittle{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}
.contact-title{
}
.contact-info{
    line-height: 26px;
    text-align: left;
    margin-top: 25px;
    color: #999
}
.contact-us{
    width: 240px;
}
.contact-us p{
    margin: 0;
    line-height: 26px;
}
.contact-us p a{
    color: #999;
}
.qq-groups{
    border-left: 1px solid #333;
}
.qq-group-col:first-child {
    padding-left: 66px;
}
.qq-group-col{
    padding-left: 60px;
}
.qq-group{
    margin-bottom: 28px;
}
.qq-group:last-child {
    margin-bottom: 0;
}
.qr{
    height: 292px;
    padding-left: 82px;
    margin-top: 6px;
    border-left: 1px solid #333;
}
.qr-img img{
    width: 86px;
}
.qr-title{
    text-align: center;
}
.friend-links{
    margin-top: 68px;
}
.friend-links .title{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}
.friend-links-c{
    margin-top: 26px;
}
.friend-links-c a{
    color: #999;
}
.friend-link{
    color: #999;
    line-height: 30px;
    margin-right: 20px;
}
.copy{
    font-size: 13px;
    margin-top: 56px;
    color: #999;
}
.copy a{
    color: #999;
}
.aside-action{
    position: fixed;
    right: 0;
    bottom: 20%;
    z-index: 998;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.aside-action ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #1c1a24;
    width: 36px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.4);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,.4);
    box-shadow: 0 2px 6px rgba(0,0,0,.4);
    color: #fff;
}
.aside-action ul>li{
    width: 100%;
    height: 36px;
}
.aside-action ul>li>a{
    display: inline-block;
    width: 100%;
    line-height: 36px;
    height: 36px;
    position: relative;
}
#ai-consult::after{
    background-image: url(../images/template.png);
    background-repeat: no-repeat;
    background-position: -65px -22px;
    background-position-x: -65px;
    background-position-y: -22px;
    content: "";
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 8px;
    text-align: center;
    -moz-background-size: 145px 78px;
    background-size: 145px 78px;
}
#ai-consult:hover::after{
    display: none
}
#ai-consult:hover::before{
    content: attr(data-spec);
    background-color: #3e3d47;
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 28px;
    left: 0;
    top: 0;
    color: #fff;
    line-height: 14px;
    font-size: 12px;
    padding: 4px;
    text-align: center;
}
.ai-consulting-group-btn{
    position: relative;
    height: 100%;
    background: url(../images/qq.png) 50% no-repeat;
    -moz-background-size: 20px 20px;
    background-size: 20px 20px;
    cursor: pointer;
}
.db::after{
    background-image: url(../images/template.png);
    background-repeat: no-repeat;
    background-position: -125px -2px;
    background-position-x: -125px;
    background-position-y: -2px;
    content: "";
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 8px;
    text-align: center;
    -moz-background-size: 145px 78px;
    background-size: 145px 78px;
}
.db:hover::after{
    display: none
}
.db:hover::before{
    content: attr(data-spec);
    background-color: #3e3d47;
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 28px;
    left: 0;
    top: 0;
    color: #fff;
    line-height: 14px;
    font-size: 12px;
    padding: 4px;
    text-align: center;
}
.service-menu-wrap{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(59px);
    -moz-transform: translateY(59px);
    -ms-transform: translateY(59px);
    transform: translateY(59px);
    -webkit-transition: opacity .2s,-webkit-transform .2s;
    transition: opacity .2s,-webkit-transform .2s;
    -moz-transition: opacity .2s,transform .2s,-moz-transform .2s;
    transition: opacity .2s,transform .2s;
    transition: opacity .2s,transform .2s,-webkit-transform .2s,-moz-transform .2s;
    z-index: 4;
}
.service-menu{
    background-color: #f7f7f7;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: table;
    height: 100%;
    width: 100%;
}
.service-menu>div {
    cursor: pointer;
    display: table-row;
}
.service-menu>div>a {
    display: table-cell;
    vertical-align: middle;
    color: #000;
}
.service-item-content{
    display: block;
    vertical-align: top;
    line-height: 26px;
    position: relative;
}
.service_item_new{
    position: absolute;
    line-height: 16px;
    padding: 0 3px;
    font-size: 11px;
    margin-left: 8px;
    top: 4px;
    color: #fff;
    background-color: #ff5f00;
}
.service-menu>div>a:hover{
    background-color: #0073eb;
    color: #fff;
}
.service-item:hover .service-menu-wrap{
    transform: translateY(0);
    opacity: 1;
}